<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>fenatoolkit</name>
	<displayName><![CDATA[Fena Payments for Business Toolkit]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[The fastest way to pay via Open Banking]]></description>
	<author><![CDATA[Fena]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
